<div class="list select-list">
	<a ui-sref="residence" class="item">
		<img src="img/residential.jpg" alt="">
		<span class="text-wrap">Residence <small>Bed room, Living room, etc</small></span>
	</a>
  <a ui-sref="home" class="item" >
		<img src="img/commercial.jpg" alt="">
		<span class="text-wrap">Commercial <small>Offices, Conference rooms, etc</small></span>
	</a>
	<a ui-sref="home" class="item">
		<img src="img/industrial.jpg" alt="">
		<span class="text-wrap">Industrial <small>Streets, Terraces, etc</small></span>
	</a>
</div>