body{
	font-family: "Roboto Regular";
}

.back{
	height: 20px;
	width: 20px;
	background: url('../img/back.png') no-repeat center center;
}

.popupClose{

}
/*Home Screen*/
.select-list{
	position: relative;
	font-family: "Roboto Light";
	overflow: scroll;
}
.select-list::before{
	content: "";
	position: absolute;
	top: 0;
	left: 12%;
	height: 100%;
	width: 1px;
	background: #01B600;
}
.select-list a.item{
	border: none;
	/*padding: 2% 16px;*/
	background: transparent;
	height: 30%;
}
.select-list a.item:first-child{
	margin: 8% 0 0 0;
}

.select-list img{
	max-width: 20%;
	height: auto;
	min-width: 120px;
	border-radius: 20%;
	float: left;
}
.select-list .text-wrap{
	display: table;
	padding: 40px 0 0 10px;
	vertical-align: middle;
	font-size: 1em;
}
.select-list .text-wrap small{
	display: block;
	color: #999999;
}

/*Residence Screen*/
.residence-wrap{
	overflow: scroll;
}
.res-header{
	background: #7ed346;
	position: relative;
	-webkit-box-shadow: 0px 3px 5px 0px rgba(133,128,133,0.7);
	-moz-box-shadow: 0px 3px 5px 0px rgba(133,128,133,0.7);
	box-shadow: 0px 3px 5px 0px rgba(133,128,133,0.7);
}
.res-header a{
	position: absolute;
	left: 20px;
	top: 12px;
	font-size: 2em;
	color: #fff;
}
.res-header p{
	text-align: center;
	color: #fff;
	font-size: 1.5em;
	padding: 12px 0;
	margin: 0;
}
.optimum-info{
	background: #eee;
	padding: 10px 0;
	text-align: center;
	font-family: "Roboto Medium";
}
.optimum-info span{
	font-weight: 700;
}
.dimension-wrap, .light-type-wrap{
	padding: 20px 0 0 5%;
	font-family: "Roboto Light";
}
.dimension-wrap p, .light-type-wrap p{
	font-size: 1.2em;	
	color: #000;
}
.light-type-wrap::after{
	content: "";
	display: block;
	clear: both;
}
.input-wrap{
	clear: both;
	padding: 5px 0;
}
.input-wrap label{
	float: left;
	padding: 8px;
	width: 70px;
	font-family: "Roboto Medium";
	color: #999;
}
.input-wrap input{
	width: 200px;
	border: 1px solid #7ed346;
	border-radius: 5px;
	padding: 0 10px;
	font-family: "Roboto Light";
}
.thumb-img-wrap ul li{
	display: inline;
	float: left;
	width: 23.6%;
	padding: 2px;	
}
.thumb-img-wrap img{
	width: 100%;
	height: auto;
	border: 1px solid #999;
	padding: 1px;
}
.thumb-img-wrap .selectedImg img{
	border: 5px solid #7ed346;
}
.thumb-img-wrap span{
	display: block;
	text-align: center;
	line-height: 1;
	padding: 0 0 15px 0;
	font-size: 0.8em;
	color: #999;
	font-family: "Roboto Light";
	text-transform: uppercase;
}

.residence-wrap .button-next{
	width: 120px;
	margin: 20px auto;
	display: block;
	min-height: 30px;
	padding: 0;
	line-height: 1;
	background: #7ed346;
	font-family: "Roboto Regular";
	border-color: #7ed346;
	text-transform: uppercase;
}

.popup-container .popup{
	width: 90%;
	border-radius: 5px;
}

.popup-wrapper img{
	width: 100%;
}
.popup-container .popup-buttons{
	min-height: 0;
	padding: 0 0 10px 0;
}
.popup-container .popup-buttons button{
	line-height: 1;
	max-width: 100px;
	display: block;
	margin: 0 auto;
	min-height: 30px;
	background: #7ed346;
	font-family: "Roboto Light";
	border-color: #7ed346;
	text-transform: uppercase;
}
.popup-buttons .button:last-child{
	margin: 0 auto;
}
.popup-head{
	display: none;
}

.close-popup{
	text-align: right;
	display: block;
	margin: -6px 0px 0 0px;
	color: #999;
	cursor: pointer;
	height: 22px;
	width: 22px;
	background: url('../img/close.png') no-repeat center center;	
	background-size: contain;
	float: right;
}
.popup-title{
	text-transform: uppercase;
	border-bottom: 1px solid #000;
	margin: 0 0 10px 0;
}
.popup-title span{
	color: #999;
	font-family: "Roboto Light"
}
.col-title{
	width: 120px;
	color: #999;
	padding: 2px 0;
}
.col-data{

}
.error-msg{
	padding: 0 0 0 20px;
	color: #e34a33;
	font-family: "Roboto Light";
}



.result-wrap{
	overflow: scroll;
}
.result-header{
	background: #7ed346;
	position: relative;
	-webkit-box-shadow: 0px 3px 5px 0px rgba(133,128,133,0.7);
	-moz-box-shadow: 0px 3px 5px 0px rgba(133,128,133,0.7);
	box-shadow: 0px 3px 5px 0px rgba(133,128,133,0.7);
}
.result-header a{
	position: absolute;
	left: 20px;
	top: 12px;
	font-size: 2em;
	color: #fff;
}
.result-header p{
	text-align: center;
	color: #fff;
	font-size: 1.5em;
	padding: 12px 0;
	margin: 0;
}
.color-selection{
	margin: -10px 0 20px 0;
}
.color-selection label.button{
	padding: 0;
	background: #7ed346;
	min-height: 30px;
	line-height: 2;
}
.color-selection .item-content{
	padding: 0;
	background: #7ed346;
	height: 30px;
}
.color-selection .item-radio .radio-icon{
	padding: 0 5px;
	top: -7px;
}

.color-selection .button-bar > .button:first-child{
	border-radius: 10px 0 0 10px;
}
.color-selection .button-bar > .button:last-child{
	border-radius: 0 10px 10px 0;
}
.color-selection .item-radio input:checked ~ .item-content{
	background: #7ed346;
}
.fixture-count{
}
.fixture-count p, .color-selection p{
	text-align: center;
	font-size: 1em;
	font-family: "Roboto Light"
}
.fixture-count p span{
	width: 48%;
	text-align: center;
	display: inline-block;
}
.fixture-count .button-bar a.button{
	background: #7ed346;
	min-height: 30px;
	line-height: 2;
	padding: 0;
}
.fixture-count .button-bar a.button::before{
	line-height: 0;
}
.fixture-count .button-bar a.button::after{
	position: none;
}
.fixture-count .button-bar > .button:last-child{
	border-radius: 0 10px 10px 0;
}
.fixture-count .button-bar > .button:first-child{
	border-radius: 10px 0 0 10px;
}
.fixture-wrap{
	background: #fff;
	padding: 20px 10px 10px;
}
.fixture-inner-wrap{
	background: url('../img/light_bulb.png') no-repeat center center #ccc;
	padding: 10px;
	text-align: center;
	min-height: 60vh;
	position: relative;
	-webkit-box-shadow: inset 0px 0px 200px 2px rgba(0,0,0,0.57);
	-moz-box-shadow: inset 0px 0px 200px 2px rgba(0,0,0,0.57);
	box-shadow: inset 0px 0px 200px 2px rgba(0,0,0,0.57);
}
.fixture-inner-wrap p span{
	font-weight: 700;
}
.optimum-flux{
	position: absolute;
	bottom: 0px;
	width: 100%;
}
.fixtures{
	position: absolute;
	width: 100%;
	top: 45%;
	font-size: 3em;
}
@media (max-width: 650px) {
	.select-list::before{
		left: 12.5%;
	}
}
@media (max-width: 600px) {
	.select-list::before{
		left: 75px;
	}
	.select-list a.item:first-child{
		margin: 10% 0 0 0;
	}
	.select-list .text-wrap{
		padding: 45px 0 0 10px;
	}
}
@media (max-width: 350px) {
	.select-list::before{
		left: 60px;
	}
	.select-list a.item:first-child{
		margin: 18% 0 0 0;
	}
	.select-list img{
		min-width: 90px;
	}
	.select-list .text-wrap{
		padding: 29px 0 0 10px;
	}	
}

#container svg{
	background: #212125;
}

/*High Charts*/
#container{
	margin: 20px auto 0;
}
#container .highcharts-container > svg{
	height: 90% !important;
	border-top:1px solid #000;
	border-bottom: 1px solid #000;
}

#container .highcharts-container > svg > rect{
	stroke-width:0;
}
#container .highcharts-container > svg > .highcharts-axis path{
	stroke-width:0;
	opacity: 0;	
}
.highcharts-title, .highcharts-legend, .highcharts-container > svg > text, .highcharts-axis, .highcharts-axis-labels.highcharts-xaxis-labels, .highcharts-axis-labels.highcharts-yaxis-labels{
	display: none !important;
}






























